
:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grissClaro: #edf0df;
    
}

/* Globales */

/*Box Sizing por desarrollador de Chrome*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {/* "*" selecciona todos los elementos del html y les aplica el boxsizing borderbox*/
    box-sizing: inherit; /* la coma aplica cambios a dos clases que necesitemos que tengan las mismas pripiedades, ejemplo: .titulo, .subtitulo*/
  } /*El after es contenido que no existe ni se puede seleccionar y esta clase lo aplica el box sizing a todos los after y before*/


html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    /*1 rem = 10 px*/
    font-family:'Roboto', sans-serif;
    background-image: linear-gradient(to top, var(--grissClaro) 0%, var(--blanco)); /*Degradado en el fondo de la pagina (to right, left, bottom)*/
    /* background-image: linear-gradient(to bottom, var(--oscuro) 0%, var(--blanco));
    background-image: linear-gradient(to left, var(--secundario) 0%, var(--oscuro));
    background-image: linear-gradient(to right, var(--secundario) 0%, var(--oscuro)); */
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    }
    
    .boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem; /*Propiedad para redondear bordes*/
    width: 90%;
    text-align: center;
    }
    
    @media (min-width: 480px) {
        .boton{
            width: auto;
        }
    }

/*Clase Encargada de establecer sombras*/
.sombra{
    box-shadow: 0px 5px 15px 0px rgba(102,102,102,0.39);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}

/*Siempre hay que definir primero lo más general y luego lo más especifico*/

/* Tipografía */

h1{
    font-size: 3.8rem;
    /* color: var(--blanco); */
}

h2{
    font-size: 2.8rem;
    /* color: var(--blanco); */
}

h3{
    font-size: 1.8rem;
    /* color: var(--blanco); */
}

h1,h2,h3{
   text-align: center; 
}

/*
p{
    text-align: center;
    color: var(--blanco);
}/*

/* Titulos */

.titulo span {
    font-size: 2rem;
}

/* Navegacion Principal */

.nav-bg{
background-color: var(--secundario);
}

.navegacion-principal{
display: flex;
flex-direction: column;
align-items: center; /*Alinear verticalmente*/
}

@media (min-width: 768px) { /*Tamaño para tablet*/
    .navegacion-principal{
        flex-direction: row; /*Cuando llegue al tamaño de 768px la barra de navegacion se cambia a columna para ser responsive*/
        justify-content:space-between; /*Alinear/centrar elementos horizontalmente*/
    }
}

.navegacion-principal a{ /*Se aplicará solo a navegaciones que contengan enlaces*/
display: block; /*Los enlaces tomarán todo el espacio disponible*/
color: var(--blanco);
text-decoration: none; /*Quita el subrayado o añadido de los enlaces*/
font-size: 2rem;
font-weight: 700;
padding: 1rem; /*el padding hace espacio desde donde acaba el elemento hacia afuera*/
}

.navegacion-principal a:hover{ /*Cambio de color cuando el cursor esté sobre los enlaces*/
background-color: var(--primario);
color: var(--oscuro);
}

/* Hero */

.hero{ /*También se pueden agregar imagenes via css*/
background-image: url(../imagenes/hero2.jpg); /*Nos devolvemos una carpeta, entramos a la correcta y seleccionamos ka imagen deseada*/
background-repeat: no-repeat; /*Para que la imagen no se repita*/
background-size: cover; /*Le decimos a la imagen que tome todo el ancho disponible*/
height: 450px;
position: relative; /*El padre siempre debe tener posicion relativa*/
margin-bottom: 2rem;
}

/*Transparencia de la imagen*/
.contenido-hero{ 
position: absolute; /**/
background-color: rgba(0, 0, 0, .8); /*El "indica la transparencia y va de 0 a 1"*/
background-color: rgb(0 0 0 /.8); /*Nueva forma de colocar el color y transparencia, aún no es muy soportado*/
width: 100%;/*Tomará todo el espacio disponible del padre*/
height: 100%;


/*Código para alinear elementos vertical y horizontalmente*/
display: flex; /*Alinear horizontalmente*/
flex-direction: column;
align-items: center; /*Alinear verticalmente*/
justify-content: center;
}


.contenido-hero h2, .contenido-hero p{
    color: var(--blanco);
}

/* Servicios */
/*Organizando los servicios*/
@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns:repeat(3, 1fr); /*3 columnas / 1fr= 1 fraccion del espacio, y que se repita tres veces*/
        column-gap: 40px; /*Agregando separación entre columnas*/
    }       
}

.servicio{
display: flex;
flex-direction: column;
align-items: center;
}

.servicio h3{
    color: var(--secundario);
    font-weight: bold;
    text-align: center;
}

.servicio p{
    line-height:2; /*Interlineado*/
}

.servicio .icono{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}